<div id="contact" class="text-center">
	<h3>Contact</h3>
	
	<br/>

	CHINA ART STUDIO -SHANGHAI
	<br/>
	86) 21-5465-0003
	<br/>
	CHINA MOBILE -SHANGHAI
	<br />
	86) 136-5199-4158
	<br />
	<br />
	USA ART STUDIO
	<br />
	1) 413-345-8458
	<br />
	USA MOBILE -NEW YORK
	<br />
	1) 646-734-6584
	<br />
</div>
