<div class="panel panel-default">

	<div class="panel-heading">
		<h3>Designer</h3>
	</div>

	<div class="panel-body">

		<%= image_tag 'designer.png', :width => 200, :style => 'float:left; margin-right:10px;' %>

		이소영(So Young Lee)
		디자이너는 서울대학교 서양화과를 졸업 후  뉴욕 Fashion Institute of Technology(FIT)에서 액세서리 디자인을 전공, Michael Kors에서 수상하는 핸드백 디자인에서 대상을 수상하였으며,
		현재 상해에서 핸드메이드 백 스튜디오를 운영중입니다.
	</div>
</div>
