<div class="panel panel-default">

	<div class="panel-heading">
		<h3>Brand Philosophy</h3>
	</div>

	<div class="panel-body">
		<div class="col-xs-5 col-md-3">
		<%= image_tag 'on_working.jpg', :width => "100%" %>
		</div>
		
		<div class="col-xs-7 col-md-9">
		<p>
			모든 영감은 삶과 자연과 우리를 둘러산 아트로부터 옵니다.
			실라버스의 핸드백은 뜨겁고도 에너지가 충만한 용암 및 어둠이 개일 무렵의 이슬진 초원같은 원초적 자연현상( Nature), 
			임프레셔니즘의 시대(Impressionism  Art) 에서 이미지를 얻습니다. 
			마그마 콜렉션(MAGMA Collection)은 뜨겁게 분출하는 용암(Voluptuous Volcano) 과 화산재로부터 탄생한 핸드백 콜렉션이며, 
			그 곳에서 진화하여 실용주의를 가미한 여러 핸드백을 이 웹페이지에 담게 되었습니다. 
			최고로 엄선된 이탈리안 레더( Italian Leather) 와 유럽및 한국의 부자재( Hardware from Korea and Europe)들이 모여 
			가방의 멋과 내구성을 더하게 되었으며 직선과 곡선의 어울림, 그리고 무엇보다 들기에 편안한 가방을 모토로 하여 탄생하게 되었습니다.
		</p> 
		
	</div>

</div>