/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
*/

$gray-light: lighten(#000, 60%);
$link-color: $gray-light;

@import "bootstrap";

body {
	padding-top: 80px;
	background-image: image-url("BACKGROUND.jpg");	
}

.navbar-brand {
  img {
    position:relative;
    top:-10px;
  }
}

// .navbar-header {
  // background-color:black;
  // background-image: image-url("pattern.png");
  // background-repeat: repeat-x;
  // background-position: bottom center;
// }

.navbar-inverse {
  .separator {
    margin-left:-100%;
    margin-right:-100%;
    height:5px;
    background-image: image-url("pattern.png");
    background-repeat: repeat-x;
    background-position: bottom center;    
    z-index: 1;
    position: relative;
    top: 55px;    
  }
  
  .navbar-collapse {
    box-shadow: none;
    border-color: transparent;
  }
}

.thumbnail {
	border-radius: 0px;
}

.thumbnail,
.img-thumbnail {
  -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.075);
          box-shadow: 0 3px 4px rgba(0, 0, 0, 0.075);
}

.panel-body {
	background-color:#fcfcfc;
}



@import "products";
@import "welcome";
@import "static";
