// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.carousel-control.left {
  background-image: none;
  background-image: none;
  background-repeat: none;
}

.carousel-control.right {
  left: auto;
  right: 0;
  background-image: none;
  background-image: none;
  background-repeat: none;
}
