// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.carousel-control.left {
  background-image: none;
  background-image: none;
  background-repeat: none;
}

.carousel-control.right {
  left: auto;
  right: 0;
  background-image: none;
  background-image: none;
  background-repeat: none;
}

.product_desc {
  @include text-overflow();
}


h2 {
  small.pull-right {
    margin-top:10px;
  }
}


.product_list_item .thumbnail {
  position: relative;
  min-height: 250px;
  overflow: hidden;
  
  .product_img {
      position: absolute;
      // border: 1px solid black;
      min-height:250px;
      width:100%;
      bottom:0px;
      left:0px;
      right:0px;
    
    img {
      width: 100%;
      position:absolute;
      bottom:0px;

    }
  }
  .caption {
    background-color:white;
    position: absolute;
    // border: solid 1px red;
    // bottom:0px;
    top:0px;
    width:100%;
    left:0px;
    right:0px;
  }
  
}
