// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#contact {
  margin-top: 100px;
  color: black;
  position:relative;
  
  img {
    position:relative;
  }
  
  div {
    position:relative;
    width:300px;
    background-color:blue;
  }
}
