// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#intro {
  background-color:yellow;
  width:600px;
  @include center-block();
}

#openning-bag {
  width:300px;
  @include center-block();  
}
