// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin center-block-vertical() {
  margin-top:auto;
  margin-bottom:auto;
}


#intro {
  width:900px;
  margin-top: 0px;
  @include center-block();
}
